<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.22.3" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.51.0" targetFramework="net48" />
  <package id="MessagePack" version="2.5.108" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.5.108" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="protobuf-net" version="3.1.33" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.1.33" targetFramework="net48" />
  <package id="ServiceModel.Grpc" version="1.5.0" targetFramework="net48" />
  <package id="ServiceModel.Grpc.DesignTime" version="1.5.0" targetFramework="net48" />
  <package id="ServiceModel.Grpc.DesignTime.Generator" version="1.1.5" targetFramework="net48" developmentDependency="true" />
  <package id="ServiceModel.Grpc.MessagePackMarshaller" version="1.5.0" targetFramework="net48" />
  <package id="ServiceModel.Grpc.ProtoBufMarshaller" version="1.5.0" targetFramework="net48" />
  <package id="ServiceModel.Grpc.SelfHost" version="1.5.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>